In [0]:
from pyspark.sql.functions import *

emp_data = [(1,'manish',50000,'IT'),
(2,'vikash',60000,'sales'),
(3,'raushan',70000,'marketing'),
(4,'mukesh',80000,'IT'),
(5,'pritam',90000,'sales'),
(6,'nikita',45000,'marketing'),
(7,'ragini',55000,'marketing'),
(8,'rakesh',100000,'IT'),
(9,'aditya',65000,'IT'),
(10,'rahul',50000,'marketing')]

schema=['id','name','salary','dept_id']

emp_df = spark.createDataFrame(emp_data,schema)
display(emp_df)

In [0]:
emp_df.select(sum('salary')).display()

In [0]:
emp_df.groupBy("dept_id").agg(sum('salary')).display()

In [0]:
emp_data = [
(1,'manish',50000,'IT','india'),
(2,'vikash',60000,'sales','us'),
(3,'rahan',70000,'marketing','india'),
(4,'mukesh',80000,'IT','us'),
(5,'pritam',90000,'sales','india'),
(6,'nikita',45000,'marketing','us'),
(7,'ragini',55000,'marketing','india'),
(8,'rakesh',100000,'IT','us'),
(9,'aditya',65000,'IT','india'),
(10,'rahul',50000,'marketing','us')
]

schema=['id','name','salary','dept','country']

emp_df = spark.createDataFrame(emp_data,schema)
display(emp_df)

emp_df.createOrReplaceTempView("emp_df_tbl")

In [0]:
emp_df.groupBy("dept","country").agg(sum('salary')).orderBy("dept","country").display()

In [0]:
spark.sql("SELECT country,dept,sum(salary) from emp_df_tbl group by country,dept ORDER BY country,dept").display()